@import url("https://cdn.jsdelivr.net/gh/orioncactus/pretendard@v1.3.9/dist/web/static/pretendard.min.css");

*{
    margin: 0px;
    padding: 0px;
    font-family: "Pretendard", sans-serif;
    user-select: none;

    /*cursor: url(./img/pixel_cursor2.png)1 1, auto;*/
}


/* 기본 설정 */

html {
    font-size: 10px; /* rem 단위기준 10px */
    height: 100%;
}

a {
    text-decoration: none;
    /*color: white;*/
}

.no-drag{
    user-select: none;
}

/*몸통설정*/

body{
    background-color: #0035FF;
    width: 85.64vw;
    max-width: 1440px;
    margin:  auto;

    display: flex;    
    justify-content: center;
    flex-direction: column;
}

.mainViewBox {
    display: flex;    
    justify-content: center;
    flex-direction: column;
    height: 100vh;
}

.txtBox {
    width: 100%;
    display: flex;
}

.introductionTxtKr{
    color: white;
    font-weight: 700;
    font-size: 2.4rem;
    line-height: 3.4rem;
}

.introductionTxtEn{
    color: white;
    font-weight: 300;
    font-size: 1.2rem;
    line-height: 2rem;
}

.introductionBox {
    align-items: center;
    width: 100%;
    display: flex;
    justify-content: flex-start;
}

.txtBox2 {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.invitationDateBoxTxt {
    color: white;
    font-weight: 500;
    font-size: 1.7rem;
    line-height: 2.4rem;
}

hr {
    border: none;
    border-top: 1px solid white;
}

.txtBox3 {
    width: 100%;
    display: flex;
    justify-content: space-between;
    gap: 1.6rem;
}

.explainSubTitle {
    color: white;
    font-weight: 500;
    font-size: 1.5rem;
    line-height: 2.4rem;
}

.explainSubTxt {
    color: white;
    font-weight: 300;
    font-size: 1.3rem;
    line-height: 1.8rem;
}

.inviteExplainBox {
    width: 85.64vw;
    height: auto;
}

.inviteExplainBox {
    width: 100%;
    display: flex;
    justify-content: space-between;
    gap: 16px;
}

.introTxtContent {
    color: #000000;
    font-weight: 500;
    font-size: 1.4rem;
    line-height: 2rem;
}

.checkMapBox {
    background-color: #0035FF;
    width: 100%;
    height: 26vh;
}

.txtTitle {
    color: black;
    font-size: 1.6rem;
    font-weight: 700;
}

.centerBox {
    display: flex;
    justify-content: center;
    text-align: center;
}

.explainBox {
    display: flex;
    justify-content: space-between;
}

.txtSubTitle {
    text-align: left;
    color: #000000;
    font-size: 1.4rem;
    font-weight: 700;
    line-height: 2rem;
}

.txtSubContent {
    text-align: right;
    color: #000000;
    font-size: 1.4rem;
    font-weight: 400;
    line-height: 2rem;
}

.txtSubTitle2 {
    text-align: center;
    color: #000000;
    font-size: 1.4rem;
    font-weight: 700;
    line-height: 2rem;
}

.txtSubContent2 {
    color: #000000;
    font-size: 1.4rem;
    font-weight: 400;
    line-height: 2rem;
}

.txtSubContent3 {
    color: #0035FF;
    font-size: 1.4rem;
    font-weight: 700;
    line-height: 2rem;
}

.txtSubContent4 {
    color: #9c9c9c;
    font-size: 1.4rem;
    font-weight: 400;
    line-height: 2rem;
}

.circle {
    width: 5rem;
    height: 5rem;
    background-color: #BBC9FF;
    border-radius: 50%;
}

.linkIconBox {
    display: flex;
    justify-content: space-between;
    gap: 1.6rem;
}

.linkIconContent {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.txtSubContent5 {
    color: #000000;
    font-size: 1.35rem;
    font-weight: 400;
    line-height: 1.8rem;
}

.customFooter {
    position: relative;
    left: 50%;
    margin-left: -50vw;

    width: 100vw;
    height: 6vh;
    background-color: #0035FF;
    
    display: flex;
    justify-content: center;
    align-items: center;  
}

/*기본 태그설정*/
.col1{width: 25%;}
.col2{width: 50%;}
.col3{width: 75%;}
.col4{width: 100%;}

.col2_1{width: 33.3%;}
.col2_2{width: 66.6%;}
.col2_3{width: 100%;}

.h-15{height: 15px;}
.h-50{height: 50px;}
.h-70{height: 70px;}
.h-85{height: 85px;}
.h-100{height: 100px;}

.text-center{text-align: center;}
.text-left{text-align: left;}
.text-right{text-align: right;}

.img-fit{width: 100%;}

.marginTop-60{margin-top: 6rem;}

.marginBottom-65{margin-bottom: 6.5rem;}
.marginBottom-50{margin-bottom: 5rem;}
.marginBottom-45{margin-bottom: 4.5rem;}
.marginBottom-40{margin-bottom: 4rem;}
.marginBottom-30{margin-bottom: 3rem;}
.marginBottom-25{margin-bottom: 2.5rem;}
.marginBottom-20{margin-bottom: 2rem;}
.marginBottom-15{margin-bottom: 1.5rem;}
.marginBottom-10{margin-bottom: 1rem;}
.marginBottom-5{margin-bottom: 0.5rem;}

.marginRight-3{margin-right: 0.3rem;}

.alignItem-Center{align-items: center;}
.alignItem-left{align-items: flex-start;}
.alignItem-right{align-items: flex-end;}

